[Unit]
Description=Runs dsoulstest minetest server
Wants=minetest-web-server.service

[Service]
ExecStart=/usr/bin/minetest --server --worldname our-world
Restart=always
User=filhit

[Install]
WantedBy=multi-user.target
